<div>

<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway:300">

<div class="container">

  <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4">

    <h1 class="title">ListBuddy</br>
      <small>Simplify your collaborative lists.</small>
    </h1>

    <!--Tab buttons and styling-->
    <h3>
      <ul class="nav nav-tabs nav-justified" role="tablist">
        <li class="active">
          <a data-target="#login" role="tab" data-toggle="tab">Login</a>
        </li>
        <li>
          <a data-target="#signup" role="tab" data-toggle="tab">Sign Up</a>
        </li>
      </ul>
    </h3>
    <!--End of tab button-->


    <div class="tab-content">

      <!--Login Tab-->
      <div class="tab-pane fade in active" id="login" ng-controller="LoginController as login">

        <div class="alert alert-danger" role="alert" ng-if="login.failed">
          <span>Incorrect credentials. Please try again.</span>
        </div>

        <form class="form-login" name="loginform" novalidate >
          <div class="input-group">
            <div class="input-group-addon">
              <span class="glyphicon glyphicon-envelope"></span>
            </div>
            <input class="form-control" placeholder="Email Address" type="email" name="username" ng-model="login.email" required />
          </div>
          <div class="input-group">
            <div class="input-group-addon">
              <span class="glyphicon glyphicon-lock"></span>
            </div>
            <input class="form-control" placeholder="Password" type="password" name="lpassword" ng-model="login.password" required />
          </div>
          <div class="checkbox hidden">
            <label>
              <input type="checkbox" value="true" name="rememberme" type="string" ng-model="rmCheck" /> Remember Me
            </label>
          </div>
          <div class="input-group">
            &nbsp;
          </div>
          <button class="btn btn-primary btn-lg btn-block btn-login" ng-click="login.attemptLogin()" ng-disabled="login.loading || !loginform.$valid">
            <span class="glyphicon glyphicon-home" ng-if="!loginLoading"></span>
            <span ng-if="!login.loading">Login</span>
            <span class="glyphicon glyphicon-repeat spin" ng-if="login.loading"></span>
          </button>
        </form>
      </div>

      <!--Sign up Tab-->
      <div class="tab-pane fade" id="signup" ng-controller="SignupController as signup">

        <div class="alert alert-danger" role="alert" ng-if="signup.failed">
          <span>There already exists an account with that email.</span>
        </div>

        <div class="alert alert-danger" role="alert" ng-if="signup.passwordMismatch">
          <span>Your passwords did not match, try again.</span>
        </div>

        <form class="form-signup" role="form" name="signupform" novalidate >
          <div class="input-group">
            <div class="input-group-addon">
              <span class="glyphicon glyphicon-user"></span>
            </div>
            <input class="form-control" placeholder="First Name" type="text" name="sfirstname" ng-model="signup.firstname" required />
          </div>
          <div class="input-group">
            <div class="input-group-addon">
              <span class="glyphicon glyphicon-user"></span>
            </div>
            <input class="form-control" placeholder="Last Name" type="text" name="slastname" ng-model="signup.lastname" required />
          </div>
          <div class="input-group">
            <div class="input-group-addon">
              <span class="glyphicon glyphicon-envelope"></span>
            </div>
            <input class="form-control" placeholder="Email Address" type="email" name="semail" ng-model="signup.email" required />
          </div>
          <div class="input-group">
            <div class="input-group-addon">
              <span class="glyphicon glyphicon-lock"></span>
            </div>
            <input class="form-control" placeholder="Password" type="password" name="spassword" ng-model="signup.password" required />
          </div>
          <div class="input-group">
            <div class="input-group-addon">
              <span class="glyphicon glyphicon-lock"></span>
            </div>
            <input class="form-control" placeholder="Verify Password" type="password" ng-model="signup.confirmPassword" required />
          </div>
          <div class="input-group">
            &nbsp;
          </div>
          <button class="btn btn-success btn-lg btn-block" ng-click="signup.attemptSignup()" ng-disabled="signup.signupLoading || !signupform.$valid">
            <span class="glyphicon glyphicon-pencil" ng-if="!signupLoading"></span>
            <span ng-if="!signup.signupLoading">Sign Up</span>
            <span class="glyphicon glyphicon-repeat spin" ng-if="signup.signupLoading"></span>
          </button>
        </form>
      </div>
      <!--End of signup Tab-->


    </div>
    <!--End of tab content-->

  </div>

</div>
<!--End of container Block-->

</div>