<div ng-controller="loginController">

<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway:300">

<div class="container">

  <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4">

    <h1 class="title">ListBuddy</br>
      <small>Simplify your collaborative lists.</small>
    </h1>

    <div class="alert alert-danger" role="alert" ng-if="failedAuth">
      <span>Incorrect credentials. Please try again.</span>
    </div>

    <!--Tab buttons and styling-->
    <h3>
      <ul class="nav nav-tabs nav-justified" role="tablist">
        <li class="active">
          <a data-target="#login" role="tab" data-toggle="tab">Login</a>
        </li>
        <li>
          <a data-target="#signup" role="tab" data-toggle="tab">Sign Up</a>
        </li>
      </ul>
    </h3>
    <!--End of tab button-->


    <div class="tab-content">

      <!--Login Tab-->
      <div class="tab-pane fade in active" id="login">

        <form class="form-login" name="login">
          <div class="input-group">
            <div class="input-group-addon">
              <span class="glyphicon glyphicon-envelope"></span>
            </div>
            <input class="form-control" placeholder="Email Address" type="email" name="username" ng-model="loginData.email" />
          </div>
          <div class="input-group">
            <div class="input-group-addon">
              <span class="glyphicon glyphicon-lock"></span>
            </div>
            <input class="form-control" placeholder="Password" type="password" name="lpassword" ng-model="loginData.password" />
          </div>
          <div class="checkbox hidden">
            <label>
              <input type="checkbox" value="true" name="rememberme" type="string" ng-model="rmCheck" /> Remember Me
            </label>
          </div>
          <button class="btn btn-primary btn-lg btn-block btn-login" ng-click="attemptLogin()" ng-disabled="loginLoading">
            <span class="glyphicon glyphicon-home" ng-if="!loginLoading"></span>
            <span ng-if="!loginLoading">Login</span>
            <span class="glyphicon glyphicon-repeat spin" ng-if="loginLoading"></span>
          </button>
        </form>
      </div>

      <!--Sign up Tab-->
      <div class="tab-pane fade" id="signup">
        <form class="form-signup" role="form">
          <div class="input-group">
            <div class="input-group-addon">
              <span class="glyphicon glyphicon-user"></span>
            </div>
            <input class="form-control" placeholder="First Name" type="text" name="sfirstname" ng-model="signup.firstname"/>
          </div>
          <div class="input-group">
            <div class="input-group-addon">
              <span class="glyphicon glyphicon-user"></span>
            </div>
            <input class="form-control" placeholder="Last Name" type="text" name="slastname" ng-model="signup.lastname"/>
          </div>
          <div class="input-group">
            <div class="input-group-addon">
              <span class="glyphicon glyphicon-envelope"></span>
            </div>
            <input class="form-control" placeholder="Email Address" type="text" name="semail" ng-model="signup.email"/>
          </div>
          <div class="input-group">
            <div class="input-group-addon">
              <span class="glyphicon glyphicon-lock"></span>
            </div>
            <input class="form-control" placeholder="Password" type="password" name="spassword" ng-model="signup.password" />
          </div>
          <div class="input-group">
            <div class="input-group-addon">
              <span class="glyphicon glyphicon-lock"></span>
            </div>
            <input class="form-control" placeholder="Verify Password" type="password" />
          </div>
          <div class="input-group">
            &nbsp;
          </div>
          <button class="btn btn-success btn-lg btn-block" ng-click="attemptSignup()" ng-disabled="signupLoading">
            <span class="glyphicon glyphicon-pencil" ng-if="!signupLoading"></span>
            <span ng-if="!signupLoading">Sign Up</span>
            <span class="glyphicon glyphicon-repeat spin" ng-if="signupLoading"></span>
          </button>
        </form>
      </div>
      <!--End of signup Tab-->


    </div>
    <!--End of tab content-->

  </div>

</div>
<!--End of container Block-->

</div>